@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles//base';
@import '../ProductCard/ProductCard.scss';

.products-section {
  @extend .section;
  padding-top: 201px;
  padding-bottom: 200px;
}

.products-container {
  @extend .container;
  position: relative;
  padding-left: 260px;
  padding-right: 260px;
  margin: 0 auto;
}

.products__title {
  @extend .section-title;
  text-align: center;
}

.products__message {
  @extend .section-message;
  text-align: center;
}

.products-cards-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 20px;
}

.products__product-card {
  @extend .product-card;
  background-color: $third-text-color;
}

.products__filter-button {
  @include getButtonWithArrow($first-accent-color, $white-color);
  display: block;
  margin: 86px auto 0;
}

@media screen and (max-width: 1920px) {
  .products-container {
    padding-left: 160px;
    padding-right: 160px;
  }
}
@media screen and (max-width: 1720px) {
  .products-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (max-width: 1560px) {
  .products-cards-box {
    display: grid;
    grid-template-columns: repeat(2, 335px);
  }
  .products-container {
    padding-left: 260px;
    padding-right: 260px;
  }
}
@media screen and (max-width: 1211px) {
  .products-container {
    padding-left: 160px;
    padding-right: 160px;
  }
}
@media screen and (max-width: 1011px) {
  .products-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (max-width: 850px) {
  .products-cards-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products-container {
    padding-left: 160px;
    padding-right: 160px;
  }
}
@media screen and (max-width: 782px) {
  .products-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (max-width: 782px) {
  .products-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
