@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles//base';
@import '../ProductCard/ProductCard.scss';

.offer-section {
  @extend .section;
  background-color: $first-accent-color;
  padding-top: 201px;
  padding-bottom: 200px;
}

.offer-container {
  @extend .container;
  padding-left: 260px;
  padding-right: 260px;
  margin: 0 auto;
}
