@import '../../styles/variables';
@import '../../styles//base';

.cart-content-section {
  @extend .section;
  padding-top: 140px;
}

.cart-content-container {
  @extend .container;
  display: flex;
  flex-direction: column;
  background-color: $eleventh-background-color;
  padding-top: 141px;
}
