@import './variables';

.section {
  width: 100%;
  min-width: 440px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 162px;
  padding-right: 162px;
}

.section-title {
  font-family: Yellowtail;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.36;
  color: $first-text-color;
}

.section-message {
  font-weight: 800;
  font-size: 50px;
  line-height: 1.18;
  color: $first-accent-color;
}
.section-description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65;
  color: $fifth-text-color;
}
.section-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.67;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $first-accent-color;
  color: $white-color;
  border: none;
  border-radius: 15px 0px;
  text-align: center;
  cursor: pointer;
}

.logo {
  min-width: 150.76px;
  height: 46.04px;
  background-repeat: no-repeat;
  background-image: url('../images/logo.png');
  background-size: contain;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1655px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 1195px) {
  .section-message {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 24px;
  }
  .section-message {
    font-size: 36px;
  }
  .section-button {
    margin-top: 25px;
  }
}
@media screen and (max-width: 635px) {
  .section-title {
    font-size: 20px;
  }
  .section-message {
    font-size: 30px;
  }
  .sesction-button {
    margin-top: 15px;
  }
}

@media screen and (max-width: 550px) {
  .section-title {
    font-size: 16px;
  }
  .section-message {
    font-size: 24px;
  }
}

@media screen and (max-width: 498px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
