@mixin getRoundIconButton($size, $bgColor, $url) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $bgColor;
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
