$first-accent-color: #274c5b;
$first-text-color: #efd372;
$second-text-color: #d4d4d4;
$third-text-color: #f9f8f8;
$fourth-text-color: #eff6f1;
$fifth-text-color: #525c60;
// ---------
$first-background-color: #7eb693;
$second-background-color: #fafafa;
$white-color: rgba(255, 255, 255, 1);
//
// no use-colors

// $sixth-text-color: #14183e;
// $seventh-text-color: #1e1d4c;
// $eighth-text-color: #080809;
// $ninth-text-color: #84829a;
// //
// $second-background-color: #f8f8f8;
// $third-background-color: #eeeeee;
// $fourth-background-color: #d5d5d5;
// //

// $first-border-color: #b0855b;
