@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles//base';

.about-section {
  @extend .section;
  background-color: $third-text-color;
}

.about-container {
  @extend .container;
  position: relative;
  padding-top: 186px;
  padding-bottom: 199px;
  background: url('../../images/about-image.png');
  background-size: 42%;
  background-repeat: no-repeat;
  background-position: left 100px center;
}

.about-info {
  width: 36.56%;
  margin-left: auto;
}

.about-info__title {
  @extend .section-title;
}

.about-info__message {
  @extend .section-message;
  font-size: 50px;
}
.about-info__description {
  @extend .section-description;
}
.about-info__button {
  @include getButtonWithArrow($first-accent-color, $white-color);
}

.about-info__item {
  display: flex;
  width: 80%;
  &:nth-of-type(1) {
    margin-top: 46px;
    & .about-info___item-image {
      background-image: url('../../images/about-item-1.svg');
    }
  }
  &:nth-of-type(2) {
    margin-top: 30px;
    & .about-info___item-image {
      background-image: url('../../images/about-item-2.svg');
    }
  }
}
.about-info___item-image {
  min-width: 101px;
  height: 101px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $white-color;
  border-radius: 20px;
}

.about-info___item-text-block {
  margin-left: 19px;
}

.about-info__item-message {
  @extend .about-info__message;
  font-size: 25px;
}

.about-info__item-description {
  @extend .about-info__description;
}

@media screen and (max-width: 1710px) {
  .about-info {
    width: 41.56%;
  }
  .about-info__title {
    font-size: 24px;
  }
  .about-info__message {
    font-size: 40px;
  }

  .about-info__item-message {
    font-size: 20px;
  }
}
@media screen and (max-width: 1440px) {
  .about-container {
    background-size: 35%;
    background-position: left 20px center;
    padding-top: 100px;
  }
  .about-info {
    width: 60%;
  }
  .about-info__item {
    &:nth-of-type(1) {
      margin-top: 23px;
    }

    &:nth-of-type(2) {
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .about-info__title {
    font-size: 18px;
  }
  .about-info__message {
    font-size: 24px;
  }
  .about-info__item {
    width: 100%;
  }
  .about-info__item-message {
    font-size: 16px;
  }
  .about-info___item-image {
    min-width: 75px;
    height: 75px;
  }

  .about-info__button {
    margin-top: 5px;
    padding: 14px 48px 14px 19px;
    border-radius: 10px;
    font-size: 14px;
    &::after {
      right: 15px;
    }
  }
}
@media screen and (max-width: 975px) {
  .about-info__item {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .about-info__description {
    display: none;
  }
}
@media screen and (max-width: 635px) {
  .about-container {
    padding-top: 50px;
  }
}
