@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles//base';

.about-section {
  @extend .section;
}

.about-container {
  @extend .container;
  position: relative;
  padding-top: 87px;
  padding-bottom: 113px;
  background-color: $third-text-color;
}

.about-background-tumb {
  width: 42%;
  height: 100%;
  background: url('../../images/about-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $third-text-color;
}

.about-info {
  width: 36.56%;
  position: absolute;
  top: 50%;
  right: 14%;
  transform: translateY(-49%);
}

.about-info__title {
  @extend .section-title;
}

.about-info__message {
  @extend .section-message;
  font-size: 70px;
}
.about-info__description {
  @extend .section-description;
  margin-bottom: 46px;
}
.about-info__button {
  @include getButtonWithArrow($first-accent-color, $white-color);
}

.about-info__item {
  display: flex;
  width: 80%;
  &:nth-of-type(1) {
    margin-top: 46px;
    & .about-info___item-image {
      background-image: url('../../images/about-item-1.svg');
    }
  }
  &:nth-of-type(2) {
    margin-top: 30px;
    & .about-info___item-image {
      background-image: url('../../images/about-item-2.svg');
    }
  }
}
.about-info___item-image {
  width: 101px;
  height: 101px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $white-color;
  border-radius: 20px;
}

.about-info___item-text-block {
  margin-left: 19px;
  & .about-info__item-message {
    @extend .about-info__message;
    font-size: 25px;
  }
  & .about-info__item-description {
    @extend .about-info__description;
  }
}
@media screen and (max-width: 1440px) {
  .about-info__title {
    font-size: 24px;
  }
  .about-info__message {
    font-size: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .about-info__title {
    font-size: 18px;
  }
  .about-info__message {
    font-size: 30px;
  }

  .about-info__button {
    margin-top: 5px;
    padding: 14px 48px 14px 19px;
    border-radius: 10px;
    font-size: 14px;
    &::after {
      right: 15px;
    }
  }
}
@media screen and (max-width: 767px) {
  .about-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 556px) {
  .about-info__title {
    font-size: 14px;
  }
  .about-info__message {
    font-size: 16px;
  }
  .about-info__button {
    padding: 10px 40px 10px 11px;
    border-radius: 5px;
    font-size: 11px;
  }
}
