@import '../../styles/variables';
@import '../../styles/mixins';

.header-cart {
  position: relative;
  display: flex;
  align-items: center;
  width: 159px;
  height: 66px;
  border-radius: 36px;
  border: 1px solid #e0e0e0;
  overflow-x: hidden;
}

.header-cart__title {
  width: 100%;
  //   height: 100%;
  font-size: 18px;
  line-height: 1.17;
  //   background-color: $third-background-color;
  padding-left: 80px;
  padding-right: 00px;
}
.header-cart__icon {
  @include getRoundIconButton(
    56px,
    $first-accent-color,
    '../../images/cart.svg'
  );

  left: 6px;
}
