@import '../../styles/variables';
@import '../../styles//base';
@import '../../styles/mixins';

.header-search-bar {
  position: relative;
  width: 376px;
  border-radius: 36px;
  overflow-x: hidden;
}

.header-search-bar__input {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 22px;
  line-height: 3;
  border: none;
  background-color: $second-background-color;
  padding-left: 40px;
  padding-right: 80px;
}
.header-search-icon {
  @include getRoundIconButton(
    56px,
    $first-background-color,
    '../../images/search.svg'
  );
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}
