@import '../../styles/variables';
@import '../../styles//base';

.header-search-bar {
  position: relative;
  width: 376px;
  border-radius: 36px;
  overflow-x: hidden;
}

.header-search-bar__input {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 22px;
  line-height: 3;
  border: none;
  background-color: $first-background-color;
  padding-left: 40px;
  padding-right: 80px;
}
.header-search-icon {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: red;
  background-image: url('../../images/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
