@import '../../styles/variables';
@import '../../styles//base';

.header-section {
  @extend .section;
  position: sticky;
  top: -70px;
  z-index: 2;
}

.header-container {
  @extend .container;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 75px;
}

.header-right-box {
  display: flex;
}

@media screen and (max-width: 1280px) {
  .header-container {
    justify-content: flex-start;
  }
  .header-right-box {
    margin-left: auto;
  }
}
