@import '../../styles/variables';
@import '../../styles//base';

.cart-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.cart-item__text-box {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
}
.cart-item__image {
  width: 292px;
  height: 226px;
  background-color: $third-text-color;
  border-radius: 30px;
}

.cart-item__name-and-price {
  display: flex;
  align-items: center;
}
.cart-item__name {
  @extend .section-message;
  font-size: 40px;
  font-weight: 600;
  margin-left: 42px;
}

.cart-item__full-price {
  @extend .product__full-price;
  font-size: 24px;
  line-height: 2.29;
  margin-left: 10px;
}

.cart-item__sales-price {
  @extend .product__sales-price;
  font-size: 40px;
  margin-left: 10px;
}

.cart-item__controls-fields-box {
  margin-left: auto;
  width: 457px;
}

.cart-item__label {
  @extend .section-message;
  white-space: nowrap;
  font-weight: 700;
  font-size: 32px;
}
.cart-item__input {
  margin-left: 22px;
  width: 134px;
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 20px;
  color: $first-accent-color;
  text-align: center;
  border: 2px solid $first-accent-color;
  border-radius: 16px;
  &:focus {
    outline: none;
  }
}

.cart-item__remove-button {
  color: $white-color;
  padding: 11px 26px;
  background-color: $first-accent-color;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  border: none;
  border-radius: 16px;
  margin-left: 97px;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart-item__text-box {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .cart-item {
    align-items: center;
  }
  .cart-item__text-box {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .cart-item__name {
    margin-left: 0;
  }
  .cart-item__controls-fields-box {
    margin-top: 20px;
    margin-left: 0;
  }
  .cart-item__name-and-price {
    min-width: 100%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 640px) {
  .cart-item__name-and-price {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .cart-item__controls-fields-box {
    min-width: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cart-item__input {
    width: 80px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .cart-item__remove-button {
    margin-left: 15px;
  }
}
